<!DOCTYPE html>
<html>
<head>
  <title>Intercom Integration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="t__body" style="background-color: #f0f4f7;">
  <%= yield %>
</body>
</html>
