<a href="/login">Login</a>
<h1>Intercom application</h1>
<h2>List your <%= @users_count %> Intercom Users names :</h2>
<ul>
<% @users_names.each do | name | %>
     <li> <%= name %></li>
<% end %>
</ul>
