<div class="card" style="max-width: 600px; margin: 0 auto;margin-top: 120px;">
  <div class="card__inner">
    <div style="width: 100%;" class="layout__box o__has-columns">
      <div class="layout__box" style="padding-top: 50px; text-align: center; width: 80px;">
        <div class="avatar__container o__medium">
            <span class="avatar o__contained">
              <%= image_tag("logos/intercom.png", :class => "avatar__media") %>
            </span>
        </div>
      </div>
      <div class="layout__box o__has-raws o__flexes-to-1" style="width: 100%;padding: 20px;">
        <div class="layout__box" style="text-align: center;margin-bottom: 20px">
          <h1 class="t__h1">Intercom</h1>
          <p style="margin-bottom: 20px">Intercom is a customer platform with a suite of products for live chat, marketing, feedback, and support.</p>
          <%= render :partial => "connect_button.html.erb" %>
        </div>
        <div class="card__expanded-content o__visible layout__box" style="text-align: center; ">
          <div class="card__inner">
            Don't have an Intercom account yet?
            <a href="https://app.intercom.com/a/start" class="t__em-link" target="_blank">Create one</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
